.rootPage {
    display: flex;
    align-content: center;
    flex-direction: row;
    padding: 0 20%;
    height: 100vh;
}
.helper {
    /* border: 1px red solid; */
    display: flex;
    flex-flow: column;
    width: 60%;
    font-size: 28px;
    font-weight: normal;
    line-height: 32pxs;
    align-self:center
}
.helper .logo {
    color: var(--blue);
    font-weight: bolder;
    font-size: 64px;
    text-transform: lowercase;
}
.rootCard {
    display: flex;
    background-color: white;
    /* border: 1px blue solid; */
    box-shadow: 0px 0px 7px 1px gray;
    border-radius: 10px;
    display: flex;
    width: 40%;
    flex-direction: column;
    padding: 16px;
    margin: auto;
}
.rootForm {
    display: flex;
    flex-direction: column;
}
.input {
    font-size: 17px;
    border-radius: 8px;
    color: rgba(150, 150, 150, 1);
    border: 1px rgba(200, 200, 200, 1) solid;
    padding: 16px 16px;
    margin: 0px 0px 12px 0px;
}

.input:focus {
    border-radius: 8px;
    outline: 0px;
    border: 0px var(--blue) solid;
    box-shadow: 0px 0px 1px 2px var(--blue);
}
.divider {
    border-width: 0px;
    box-shadow: 0px 0px 1px 1px lightgray;
    max-height: 0px;
    margin: 12px 0px;
}
.navLink{
    color: var(--blue);
    padding: 12px 0px;
    text-align: center;
    text-decoration: none;
    outline: 0px;
    font-size: 14px;
    font-weight: 400;
}
.navLink:hover{
    text-decoration: underline;
}