/* :root {
    --pageWidth: 960px;
    --pageHeight: 340px;
} */
.hero {
    display: flex;
    flex-direction: column;
    /* margin-bottom: 20px; */
    background-color: white;
    padding-left: calc((100% - var(--pageWidth)) / 2);
    padding-right: calc((100% - var(--pageWidth)) / 2);
    /* margin-bottom: 16px; */
}
.cover {
    position: relative;
    background-image: linear-gradient(to bottom, rgb(233, 233, 233) 80%, rgb(99, 99, 99));
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    width: var(--pageWidth);
    height: calc(var(--pageWidth) / 2.5);
    margin-bottom: 30px;
}
.shortDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bioUpdate {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 300px;
}
.modal {
    display: flex;
    align-items: center;
    justify-content: center;
}
.navigation {
    display: flex;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
}

@media only screen and (max-width: 960px) {
    .hero {
        margin-left: auto;
        margin-right: auto;
    }
    .cover {
        width: 100%;
        height: calc(100vw / 2.5);
        /* margin-left: auto;
        margin-right: auto; */
    }
}
