.smallSizeForm {
    --form-size: 4px;
}
.root {
    --form-width: 500px;
}
.rootForm {
    display: flex;
    flex-direction: column;
    margin-left: calc((100vw - var(--form-width)) / 2);
    margin-right: calc((100vw - var(--form-width)) / 2);
    margin-top: 10vh;
}

.loginError{
    color: var(--error);
    text-align: center;
    margin: 0px 0px 0px 0px;
}
.inputInvalid{
    border: 1px var(--error) solid;
}