.listItem {
    border-radius: 5,
}.icon {
    background-color: lightgray,
    border-radius: 50,
    display: 'flex',
    justify-content: 'center',
    align-items: 'center',
    height: '40px',
    width: '40px',
    margin-right: theme.spacing(1),
}.styleName {
    font-weight: theme.typography.fontWeightMedium,
    font-family: theme.typography.fontFamily,
    // '&::first-line': {
    //   color: 'red',
    // },
    // '&:hover': {
    //   color: 'blue',
    // },
}
.styleComment {
    font-weight: theme.typography.fontWeightRegular,
    font-family: theme.typography.fontFamily,
    font-size: '0.875rem',
}
.itemTextPrimary {
    padding: '12px',
    background-color: fade(theme.palette.common.black, 0.07),
    border-radius: 15,
}
.itemTextSecondary {

}