:root {
    --pageWidth: 960px;
    --pageHeight: 340px;
}
.tabpanel {
    display: flex;
    flex-direction: column;
    /* margin-bottom: 20px; */
    background-color: rgba(0, 0, 0, 0.204);
    padding-left: calc((100% - var(--pageWidth)) / 2);
    padding-right: calc((100% - var(--pageWidth)) / 2);
    margin-bottom: 16px;
}

@media only screen and (max-width: 960px) {
    .tabpanel {
        margin-left: auto;
        margin-right: auto;
    }
}
